<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Parking App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
				<key>dateExpires</key>
				<string>10/3/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CountryPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DateTimePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GRPCClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PMAlertController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ProtoRPC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxLibrary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F21168E220AE0F9C34427782D464369CCBC6BDEC</string>
						<key>dateExpires</key>
						<string>10/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SUBZ24DP5B</string>
						<key>name</key>
						<string>UnisonCare Corporation</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SUBZ24DP5B.Alsofttech.Parking-App10</string>
				<key>com.apple.developer.team-identifier</key>
				<string>SUBZ24DP5B</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>SUBZ24DP5B.Alsofttech.Parking-App10</string>
				</array>
			</dict>
			<key>name</key>
			<string>Parking App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c63a1d3e-da33-4346-8e6d-57ca5f0f5e7a</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: Alsofttech.Parking-App10</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SUBZ24DP5B</string>
				<key>name</key>
				<string>UnisonCare Corporation</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
